@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --btn-blue: #4D55BC;


}

.btn-blue {
    background-color: var(--btn-blue);
    color: white;
}

.thumb-videos {
    height: 300px;
    width: 270px;
}

.text-thumb {
    color: #132B50;
    font-size: small;
}

.new-classes h1 {
    padding: 150px 0px 10px;
    font-size: large;
    color: #7186A0;
}

ul {
    list-style: none;
}

footer.footer {
    height: 350px;
    background-color: #132B50;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.Category h1 {
    font-size: large;
    color: #7186A0;

}

.caption {
    font-size: smaller;
    color: #7186A0;
}


.Hero {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("assets/bg.png");
    background-position-x: center;
}

.text-success {
    color: #36C2CF !important;
}

.form-control {
    height: 70px;
    border: none;
    border-radius: 0;
}

span.input-group-text {
    background-color: #FE721C;
    border-radius: 0;
    outline: none;
    border: none;
    color: white;
}

#basic-addon2 {
    height: 25%;
    padding-right: 28px;
    padding-left: 28px;
}

.input-group {
    width: 75%;
}

.order-end {
    order: 1;
}

/* mediaquerre */
@media (min-width: 1200px) {
    .Hero {
        height: 100vh;
        background-size: contain;
        background-position-x: center;
    }
}

@media (max-width: 500px) {
    .order-end {
        order: -1;
    }

    .Hero {
        background-size: cover;
    }

    .order-end img {
        width: 80%;
        text-align: center;
    }


}